n8n-workflow-example.json
{
  "name": "Human-in-the-Loop Approval Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://carter.ngrok.app/webhook/register",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "executionId",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "resumeUrl",
              "value": "={{ $execution.resumeUrl }}"
            },
            {
              "name": "workflowName",
              "value": "={{ $workflow.name }}"
            },
            {
              "name": "data",
              "value": "={\"requestor\": \"{{ $node['Manual Trigger'].json.requestor || 'System' }}\", \"amount\": {{ $node['Manual Trigger'].json.amount || 1000 }}, \"description\": \"{{ $node['Manual Trigger'].json.description || 'Approval needed for workflow execution' }}\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f678-90ab-cdef-123456789012",
      "name": "Register Approval Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "",
          "responseCode": 200,
          "responseData": "allEntries",
          "responseBinaryPropertyName": "data"
        }
      },
      "id": "c3d4e5f6-7890-abcd-ef12-345678901234",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [650, 300],
      "webhookId": "approval-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.approved }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d4e5f678-90ab-cdef-1234-567890123456",
      "name": "Check Approval Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Approved"
            },
            {
              "name": "message",
              "value": "The workflow was approved and will continue with the approved actions."
            }
          ]
        },
        "options": {}
      },
      "id": "e5f67890-abcd-ef12-3456-789012345678",
      "name": "Approved Actions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Rejected"
            },
            {
              "name": "message",
              "value": "The workflow was rejected and will stop or take alternative actions."
            }
          ]
        },
        "options": {}
      },
      "id": "f6789012-cdef-1234-5678-901234567890",
      "name": "Rejected Actions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Register Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Approval Request": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Check Approval Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval Status": {
      "main": [
        [
          {
            "node": "Approved Actions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "abc123",
  "id": "workflow123",
  "meta": {
    "instanceId": "instance123"
  },
  "tags": []
}